@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #171717;
}

h1 {
  letter-spacing: 7px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
}

h5 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
  color: white;
}

.container {
  width: 800px;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  width: 470px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 26px;
  border-radius: 3px;
  background: #22c55e;
}

.gameOptions {
  margin-top: 15px;
  display: grid;
  gap: 15px 10px;
  grid-template-columns: repeat(2, 1fr);
}

.gameOption {
  width: 200px;
  height: 4em;
  padding: 10px 10px;
  font-size: 0.9em;
  background-color: honeydew;
  border: none;
  border-radius: 5px;
  transition: filter 0.15s ease;
}

.gameOption:disabled {
  pointer-events: none;
}

.gameOption:disabled:not(.incorrect, .correct) {
  color: #0008;
}

.correct {
  background-color: #14532d;
  color: white;
}

.incorrect {
  background-color: #881337;
  color: white;
}

.gameOption:hover {
  filter: brightness(0.8);
}

.gameOption:active {
  filter: brightness(1);
  scale: 0.95;
}

.imgGuess {
  width: 200px;
  height: 120px;
  border-radius: 3px;
}

.next {
  width: 200px;
  height: 4em;
  padding: 10px 10px;
  font-size: 0.9em;
  background-color: honeydew;
  border: none;
  margin-top: 25px;
  border-radius: 5px;
  transition: filter 0.15s ease;
}

.next:hover {
  filter: brightness(0.8);
}

.next:active {
  filter: brightness(1);
  scale: 0.95;
}

.pointsP {
  margin-top: 25px;
  font-weight: 700;
  letter-spacing: 3px;
}

.pointsP > span {
  color: white;
}

.hint {
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  h1 {
    letter-spacing: 7px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    color: white;
  }

  h5 {
    font-size: 1em;
  }

  .container {
    width: 100%;
  }

  .gameContainer {
    width: 90%;
  }

  .gameOptions {
    display: flex;
    gap: 10px 0;
    flex-direction: column;
  }

  .imgGuess {
    width: 120px;
    height: 70px;
  }

  .gameOption {
    width: 200px;
    height: 3em;
    font-size: 0.7em;
  }

  .next {
    width: 200px;
    height: 3em;
    font-size: 0.7em;
    margin-top: 15px;
  }

  .pointsP {
    margin-top: 15px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .hint {
    font-weight: 400;
    margin-top: 7px;
    cursor: pointer;
  }
}
